body {
  background-color: white;
}


hr {
  border-style: dotted none none none;
  width: 10%;
  border-width: 2px;
  color: grey;

}
img {
  height: 200px
}
 h1,h3 {
   color: #66BFBF
 }
